<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.barry.note">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--播音-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".note.NoteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.EditerActivity"/>
        <activity android:name=".ui.activity.SearchActivity"/>
        <activity
            android:name=".ui.activity.SimpleActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog.Alert"/>
        <activity android:name="mabeijianxi.camera.MediaRecorderActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth"
            />
        <activity android:name=".ui.activity.VideoPlayerActivity"
                  android:theme="@style/myDialogTheme"/>
    </application>

</manifest>